*
!.gitignore
!.vimrc
!.zshrc
!.xinitrc

!.atom/
!styles.less

!.config/

!herbstluftwm/
!autostart

!xfce4/
!terminal/
!terminalrc

!.tmux.conf
!.rofi
!.hyper.js

!polybar
!config
!launch.sh

!.scripts/
!spotify.sh
!lock
