atom-workspace,
atom-text-editor {
  font-family: "Fira Code";
  font-weight: 500;
  line-height: 1.75;
}
atom-panel, .settings-view, .tab-bar {
  font-family: "Roboto";
}
atom-text-editor.editor .syntax--entity.syntax--other.syntax--attribute-name, atom-text-editor.editor .syntax--comment {
  font-family: "Operator Mono";
  font-style: italic;
}
